.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.04);
  color: primary-color;
}

.sidenav-header {
  font-weight: 500;
}

.nav-item-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  
  .mat-icon {
    margin-right: 16px;
  }
}

.sidenav-content {
  padding: 12px 8px;
}