<app-sidenav>
  <div class="app-container">
    <app-app-bar (patientSelected)="onPatientSelected($event)"></app-app-bar>

    <div class="main-content">
      <app-patient-info
        [selectedPatient]="selectedPatient"
        *ngIf="selectedPatient"
      ></app-patient-info>

      <div class="medication-header">
        <h5>Medicamentos agregados</h5>
        <mat-icon>arrow_forward</mat-icon>
        <button mat-flat-button color="primary" (click)="onAddMedication()">
          <mat-icon>add</mat-icon>
          Agregar
        </button>
      </div>

      <app-medication-list
        [selectedPatient]="selectedPatient"
      ></app-medication-list>
    </div>
  </div>
</app-sidenav>
