.app-bar-container {
  background-color: var(--sys-surface);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.patient-selector {
  flex-grow: 1;
  max-width: 300px;
  
  mat-form-field {
    // Override material form field to look better in toolbar
    ::ng-deep .mat-form-field-wrapper {
      margin-bottom: -1.25em;
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
      background-color: var(--sys-secondary-container);
    }
  }
}

.spacer {
  flex-grow: 1;
}

.account-menu {
  margin-left: 16px;
}
