<app-sidenav>
  <div class="app-container">
    <app-app-bar (patientSelected)="onPatientSelected($event)"></app-app-bar>

    <div class="main-content">
      <div class="patient-info-card" *ngIf="selectedPatient">
        <h3>Medicamentos para {{ selectedPatient.name }}</h3>
        <p>{{ selectedPatient.age }} años</p>
        <p>{{ selectedPatient.phone }}</p>
      </div>

      <div>
        <h3>Medicamentos para hoy</h3>
        <app-reminders-list [selectedPatient]="selectedPatient"></app-reminders-list>
      </div>
    </div>
  </div>
</app-sidenav>
