<app-sidenav>
  <div class="app-container">
    <app-app-bar (patientSelected)="onPatientSelected($event)"></app-app-bar>

    <div class="main-content">
      <div class="patient-info-card" *ngIf="selectedPatient">
        <div class="patient-image">
          <img [src]="selectedPatient.photo" alt="Patient" />
        </div>
        <div class="patient-details">
          <h4>Medicamentos para {{ selectedPatient.name }}</h4>
          <p>{{ selectedPatient.age }} años</p>
          <p>{{ selectedPatient.phone }}</p>
        </div>
      </div>

      <div>
        <h4>Medicamentos para hoy</h4>
        <app-reminders-list
          [selectedPatient]="selectedPatient"
        ></app-reminders-list>
      </div>
    </div>
  </div>
</app-sidenav>
